.footer {
    background: #2F303A;
}

.footer-tablet{
    @media screen and(min-width:768px) {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
    }
    
    @media screen and(min-width:1200px) {
        justify-content: space-between;
    }
}
.footer-container{
    @media screen and(min-width:1200px) {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}

.address{
    text-align: center;

    @media screen and(min-width:1200px){
        text-align: left;
        margin-right: 70px;
    }
}

.logo--white{
    color:white;
    margin-bottom: 20px;
    display: block;
}

.address__item:not(:last-child){
    margin-bottom: 9px;
}

.address__link{
    font-style: normal;
    font-size: var(--link-font-size);
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:var(--footer-address-color);
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:focus, &:hover{
            color: var(--accent-color);
        }
}

.address__connection {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:var(--header-connection-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus, &:hover{
            color: var(--accent-color);
        }
}

/*-----------------FOOTER SOCIAL-------------------*/
.social-join{
    @media screen and(min-width:480px) and(max-width:767px){
    margin-top: 60px;
    }

        @media screen and(min-width:768px){
            display: flex;
            flex-direction: column;
        }

        @media screen and(min-width:1200px){
            align-items: baseline;
        }
}

.social__title{
    text-align: center;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
}

.social--list{
    padding-top: 20px;
}

.social__link--color{
    background-color: rgba(255, 255, 255, 0.1);
    color:  #FFFFFF;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        .social__link &:hover,
        .social__link &:focus{
            background-color: var(--accent-color);
        }
}

.social-subscription{
    @media screen and(min-width:480px) and(max-width:1199.5px){
        margin-top: 60px;
        }

        @media screen and(min-width: 1200px){
            text-align-last: left;
        }
}

.social__form{
    margin-top: 20px;

    @media screen and(min-width: 768px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media screen and(min-width: 1200px){
        flex-direction: row;
    }
}

.form__input{
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: #FFFFFF;
    margin: 0;
    padding: 15px 16px;
    
        &::placeholder{
            font-weight: normal;
            font-size: 16px;
            line-height: 1.25;
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
}

.button--position{
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.social__button{
    margin: 20px auto 0 auto;

    @media screen and(min-width:1200px){
        margin: auto auto auto 12px;
    }

}

.button__icon{
    fill: currentColor;
    padding-left: 10px;
}
