.hero {
    background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/mobile/hero-bg-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/mobile/hero-bg-2x.jpg);
        }

        @media screen and(min-width: 768px){
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/tablet/hero-bg-1x.jpg);
            
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/tablet/hero-bg-2x.jpg);
            }
        }
    
        @media screen and(min-width: 1200px){
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/desktop/hero-bg-1x.jpg);

            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/desktop/hero-bg-2x.jpg);
            }
        }    
        
}

.hero__section{
    text-align: center;
    padding: 118px 0 118px 0;

    @media screen and (min-width: 1200px){
        padding: 200px 0 200px 0;
    }
}

.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color);

    @media screen and (min-width: 1200px){
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__button{
    margin-top: 30px;
}