.checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 31px;
}

.checkbox__input{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:checked + .checkbox__icon{
        border-color: var(--accent-color);
        background-color: var(--accent-color);
        background-image: url('../images/svg/check.svg');
        background-size:contain;
        background-origin:border-box;
    }
}

.checkbox__icon{
    width: 16px;
    height: 15px;
    display: inline-block;
    border: 1px solid #212121;
    border-radius: 4px;
    margin-right: 8px;
 
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement{
    color: var(--accent-color);
}